/* Basic page style */
body {
    font-family: Arial, sans-serif;
    background-color: #e8dfd1;
    color: #333;
}

/* Add small shadow to navbar */
.navbar {
    /* horizontal | vertical | blur | color */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/* Hero section box */
.hero-section {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

/* Custom button color */
.btn-dark {
    background-color: #6b2d2d;
    border: none;
}

.btn-dark:hover {
    background-color: #8a3c3c;
}

.custom-btn{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
}

.custom-btn:hover{
    background-color: #4a1f14; /*Darker red when hovering*/
    color: white;
}

/* Footer text size */
footer {
    background-color: #6b2d2d;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
}